html, body{
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

h1{
    text-align: center;
    margin : 0 0 10px 0;
}

div{
    display: flex;
    flex-direction: column;
    margin: 0 2% 0 2%;
    height: 100%;
}

article{
    display: flex;
    height: 70%;
}

textarea{
    width: 300px;
    height: 100%;
}

pre{
    border: 2px solid black;
    height: 100%;
    width: 300px;
}